<nav>
  <a routerLink="/addSupplier" routerLinkActive="active"> AddSupplier </a>
  <a routerLink="/searchSupplier" routerLinkActive="active"> SearchSupplier </a>
  <a routerLink="/addDistributor" routerLinkActive="active"> AddDistributor </a>
  <a routerLink="/searchDistributor" routerLinkActive="active"> SearchDistributor </a> 
  <a routerLink="/addRawMaterialStock" routerLinkActive="active"> addRawMaterialStockAdd </a>
  <a routerLink="/trackStock" routerLinkActive="active"> TrackRawMaterialStock</a>
  <a routerLink="/updateStock" routerLinkActive="active"> UpdateRawMaterialStock</a>
  <a routerLink="/setprocessDate" routerLinkActive="active"> SetProcessDate</a>
</nav>
<hr>

<router-outlet></router-outlet>